#header {
    height: 100px;
    background-color: #222222;
    color: #E0E0E0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 10px 30px;
}

ul#main-menu {
    background-color: #adadad;
}

ul#main-menu li {
    display: inline-block;
    float: left;
}

.author-container {
    margin: 10px 0;
}

.post-controls-container {
    margin: 15px 10px 30px;
    text-align: right;
}

.post-container {
    margin: 25px 0;
}

#comments-block {
    margin: 15px;
}

#comments-block .comments-caption {
    font-size: 16px;
    border-bottom: 1px solid #2a2730;
    padding: 5px;
    margin-bottom: 25px;
}

.comment-item {
    padding: 10px 5px 15px;
}

#comment-form label {
    display: block;
}

form {
    padding: 15px 10px;
}

.btn-container {
    text-align: center;
}

#side-block {
    /*background-color: #c3e3b5;*/
}

#footer {
    height: 50px;
    background-color: #222222;
    color: #E0E0E0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 25px;
}

#copyright {
    text-align: center;
}