<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'AppBundle::head.html.twig' %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        {% block header %}
            {% include 'AppBundle::header.html.twig' %}
        {% endblock %}

        <main class="site-main">
            {% block main %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'AppBundle::footer.html.twig' %}
        {% endblock %}

        {% block bottom %}
            {% include 'AppBundle::bottom.html.twig' %}
        {% endblock %}
    </body>
</html>
