<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}My Blog{% endblock %}</title>

</head>
<body>
<header>
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            {% endblock %}


        <hgroup>
            <h2>{% block blog_title %}<a href="#">My some Blog</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="#">Hometask for GeekHub by Kobilianskiy A.</a>{% endblock %}</h3>
        </hgroup>
    </header>


        {% block body %}{% endblock %}

    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            created by Alex Kobilianskiy
        {% endblock %}
    </div>


{% block javascripts %}{% endblock %}
</body>
</html>
