{% extends 'admin/index_admin.html.twig' %}
{% block startMainDiv %}
    <div class="row"  id="idMainDiv">
        <div class="contentOneMenu">
        <span class="label label-default spanMeny">forms test:</span>

            <div class="contentOneMenu">
                <h1>Author creation</h1>


                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" value="Create">Create</button>
                {{ form_end(form) }}
            </div>

    </div>
    </div>
{%endblock%}
{% block left %}
{% endblock%}
{% block right%}
{% endblock %}
