{%block MainDiv%}
<div class="row"  id="idMainDiv">
    <div class="col-md-12 last-post-block" >
        <span class="label label-default spanMeny">last posts:</span>

            <div class="lastPost-mini-block">
                   gfgfgfgfgffgfgfgg
          </div>

    </div>
    </div>
    {%endblock%}
