{% extends 'NimaBlogBundle:Default:mostRead.html.twig' %}
{% block left %}
{% endblock%}
{%block MainDiv%}
    <div class="row"  id="idMainDiv">
        <div class="col-md-12 oneMenuDiv" >
            <span class="label label-default spanMeny">last posts:</span>

            <div class="lastPost-mini-block">
                gfgfgfgfgffgfgfgg
            </div>

        </div>
    </div>
{%endblock%}
{% block right%}
{% endblock %}

