<div class="footer" >
    ©2016 super puper blog....... ||   twiter....|| facebook ...........|| vk ....|| email: brbr@gmail.com ........................
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="{{asset('js/jquery-3.1.1.min.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
</body>
</html>
