{% block header %}
{% include 'NimaBlogBundle:Default:head.html.twig'%}
{% endblock%}
{% block startMainDiv %}
<div class="row"  id="idMainDiv">
    <div class="row"  >
{% endblock%}
{% block left %}
    {% include 'NimaBlogBundle:Default:left_menu.html.twig'%}
{% endblock%}

{% block right %}
    <div class="col-md-9 last-post-block" >
        <span class="label label-default spanMeny"> {{ nameCategories }}:</span>
        {% for key in data %}
            <div class="lastPost-mini-block">
                {{ key.name }}
                <br>
                {{ key.description }}
               <br>
                <a href="{{ path('postPage', {'id': key.id})}}">show this post detals</a>
          </div>
        {% endfor %}

    </div>
    </div>
    {% endblock %}
{% block footer %}
    {% include 'NimaBlogBundle:Default:footer.html.twig'%}
{% endblock%}