    <div class="col-md-3 categories-and-top-block">
        <span class="label label-default spanMenyLeft">categories:</span>
        <div  id="idCategories">
            society...10 <br>
            psychology...5<br>
            culture...12<br>
            sport...20<br>
            politics...3<br>
            economics...15<br>
            study...9

        </div>
        <span class="label label-default spanMenyLeft">top posts:</span>
        <div class="" id="idTopPost">
            most commented<br>
            most read<br>
        </div>
    </div>
