
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                {% include 'Page/subcategories.html.twig' with {'categories':category.children}%}
            </li>
            {% endfor %}
    </ul>
