{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <h2>Создать новый комментарий</h2>
        {{ form_start(commentType) }}
        {{ form_widget(commentType) }}
        <button type="submit" class="btn btn-primary">Опубликовать</button>
        {{ form_end(commentType) }}
    </div>
{% endblock %}