<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul id="main-menu" class="nav nav-menu">
            <li class="active"><a href="{{ path("postsList") }}">Blog</a></li>
            <li><a href="">Add new post</a></li>
        </ul>
    </div>
</div>