{% extends "AppBundle:layouts:column-one.html.twig" %}

{% block title %}AppBundle:Blog:edit{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-5">
        <h3>Post deleting</h3>
        <form action="{{ path('postRemove') }}" method="POST">
            <label>Delete post?</label>
            <input type="hidden" name="id" value="{{ id }}"><br>
            <input type="submit" name="delete_post" value="Yes">
            <a href="{{ path('postsList') }}">Cancel</a>
        </form>
    </div>
{% endblock content %}