{% extends 'AppBundle::base.html.twig' %}

{% block main %}
    <div class="container">

        <h1>Edit post form</h1>

        <form method="POST" action="{{ path('post_edit') }}">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" type="text" id="title" name="title" value="{{ title }}">
            </div>

            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" id="content" name="content">{{ content }}</textarea>
            </div>

            <p><input class="btn btn-default" type="submit" value="Update"></p>
        </form>

    </div>
{% endblock %}
