{% extends 'base.html.twig' %}

{% block main %}
    <p>Create new Article</p>
    {{ form_start(articleType) }}
    {{ form_widget(articleType) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(articleType) }}
{% endblock %}