{% extends "@App/base.html.twig" %}
{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1>Всі новини</h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://www.securitylab.ru/upload/iblock/74f/74f9c7eeade55cc4f3a8d37899e36fdc.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <h4><a href="#">Назва посту</a></h4>
                        <p>
                            Опис посту                </p>
                        <p><a class="btn btn-info btn-sm" href="#">Читати повністю</a></p>
                        <br/>
                        <ul class="list-inline">
                            <li><i class="glyphicon glyphicon-music"></i> <a href="#">Назва категорії</a> | </li>
                            <li><i class="glyphicon glyphicon-calendar"></i> 8 вересня 2016 21:30 |</li>
                            <li><i class="icon-comment"></i> <a href="#">3 Comments</a></li>
                            <li><i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
                                <a href="#"><span class="label label-info">Bootstrap</span></a>
                                <a href="#"><span class="label label-info">UI</span></a>
                                <a href="#"><span class="label label-info">growth</span></a></li>
                        </ul>
                    </div>
                </div>
                <hr>
{% endblock content %}