{% extends 'AppBundle::base.html.twig' %}
{% block title %}Creating a new user{% endblock %}

{% block breadcrump %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">New</li>
    </ol>
{% endblock %}
 {% block content %}
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-9">
                 <div class="row">
                     <div class="panel panel-default">
                         <div class="panel-heading panelHeading">
                             <h3 class="panel-title">Create a new user</h3>
                         </div>
                         <div class="panel-body">
                             {% form_theme form 'AppBundle::form.html.twig' %}
                             {{ form_start(form) }}
                             {{ form_widget(form) }}
                             <button class="btn btn-default" type="submit">Create</button>
                             {{ form_end(form) }}
                         </div>
                     </div>
                 </div>
             </div>
             {{ include('AppBundle::sidebar.html.twig') }}
         </div>
     </div>
 {% endblock %}