{% extends "::base.html.twig" %}
{% block body %}
    <div class="row">
        <div id="content-block" class="col-xs-12 col-md-12">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock body %}
