{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div id="content-block" class="col-xs-8 col-md-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="side-block" class="col-xs-4 col-md-4">
            {% block sideContent %}
            {% endblock sideContent %}
        </div>
    </div>
{% endblock body %}

