{% extends "AppBundle::base.html.twig" %}
{% block body %}
    <section class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-md-4">
            {% block sideBar %}
            {% endblock sideBar %}
        </div>
    </section>
{% endblock body %}